* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(183,204,157);
}

p{
    font-size: 1.1em;
}

h1 {
    color:rgba(255, 255, 255, 0.815);
    text-align: center;
    min-width: 550px;
}

fieldset {
    width: 50%;
    max-width: 500px;
    margin: auto;
    border-color: rgba(140,161,158);

}

legend {
    color: rgba(255, 255, 255, 0.815);
}

.form {
    width: 98%;
    max-width: 500px;
    min-width: 550px;
    margin: auto;
    background-color: rgba(143, 182, 171, 0.295);
    border-radius: 7px;
}

.content-form {
    padding: 15px 78px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input {
    background-color: rgba(255, 255, 255, 0.671);
    margin-bottom: 13px;
    padding: 20px;
    font-size: 1em;
    border-radius: 10px;
    border: 1px solid rgba(143, 182, 171, 0.753);
    min-width: 350px;
}

.enviar {
    background-color: rgba(140, 161, 158, 0.356);
    padding: 10px;
    cursor: pointer;
    min-width: 100px;
}

.enviar:hover {
    transition: 2s;
    background-color: rgba(140, 161, 158, 0.644);
}
